.cache/
.idea/
build/
__pycache__/
dist/
.tox/
src/pyq.egg-info/
doc/_build/
src/pyq/version.py
html/

.venv*/
venv*/

*.pyc
.coverage
.coverage.*

.vscode/
.ipynb_checkpoints/

MANIFEST

.pytest_cache/

.kdb/

**/.DS_Store