.cache/
.idea/
build/
__pycache__/
dist/
.tox/
src/pyq.egg-info/
doc/_build/
src/pyq/version.py
html/

*.pyc
.coverage
.coverage.*

.vscode/
.ipynb_checkpoints/

# workaround for #892
doc/0-9
doc/data
doc/xyz
