include AUTHORS.md
include INSTALL.rst
include CHANGES.rst
include LICENSE.rst
include README.md
include requirements.txt
include src/pyq/_k.c
include src/pyq/k.h
include src/pyq/p.c
include src/pyq/py.c
include src/pyq/p.k
include src/pyq/python.q
include src/pyq.c
include doc/*.rst
