include AUTHORS.md
include INSTALL.rst
include CHANGES.rst
include LICENSE
include README.md
include src/pyq/_k.c
include src/pyq/mv.c
include src/pyq/pyq.c
include src/pyq/pyq.def
include src/pyq/p.k
include src/pyq/python.q
include src/pyq/pyq-operators.q
include src/pyq.c
include doc/*.rst
include src/pyq/kx/*
include src/pyq/kx/*/*
